// BIG TEMPLATE STYLES
:host {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.format-actions {
  margin: auto;
  height: 50px;
  width: 600px;
  margin-top: 5px;
}

button + button {
  margin-left: 5px;
}

.active {
  background-color: darkcyan;
}

.options-container {
  max-height: 200px;
  overflow: auto;
}

.color-picker-icon {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

// SMALL TEMPLATE STYLES
.format-actions-small {

  background-color: #adb5bd;

  :host {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

