<div [ngClass]="{'format-actions': templateType === 'BIG', 'format-actions-small': templateType === 'SMALL'}">
  <button class="format-action" [ngClass]="{'active': currentSelectedWord?.bold }" type="button"
          (click)="toggleBold()"><b>B</b></button>

  <button class="format-action" [ngClass]="{'active': currentSelectedWord?.italic}" type="button"
          (click)="toggleItalic()"><i>I</i></button>

  <button class="format-action" [ngClass]="{'active': currentSelectedWord?.underline}" type="button"
          (click)="toggleUnderline()"><u>U</u></button>


  <span *ngIf="templateType && templateType !== 'SMALL'"> Font color:</span>
  <input class="color-picker-icon" [style.background]="this.currentSelectedWord?.color"
         [colorPicker]="this.currentSelectedWord?.color"
         (colorPickerChange)="changeColor($event)"/>


  <button *ngIf="templateType && templateType !== 'SMALL'" class="format-action" type="button" (click)="getSynonyms()">Get Synonyms</button>
  <button class="format-action" type="button" (click)="closeSynonyms()" *ngIf="showSynonyms">x</button>
  <span *ngIf="optionsList?.length === 0 && showSynonyms" > No results found</span>

  <div  class="options-container">
  <ul class="list-group" *ngIf="showSynonyms">
    <li class="list-group-item" *ngFor="let option of optionsList" (click)="selectSynonym(option.word)">
      {{ option.word }}</li>
  </ul>
  </div>

</div>
