<p>Enter your original text here:</p>
<textarea [(ngModel)]="textOriginal" (keyup)="splitWords($event.target.value)"></textarea>

<hr>


<p>Text editor:</p>

<div class="file text-input">
  <span *ngFor="let item of arrayOfWords; let i = index" (click)="wordSelected(item)" [ngStyle]="{'color': item.color}"
        [ngClass]="{ 'bold-style': item.bold,
                     'italic-style': item.italic ,
                     'underline-style': item.underline,
                     'selected': item.id === selectedWord?.id}"
        [ngbTooltip]="tipContent2" placement="right" [autoClose]="'outside'"  triggers="click" popoverClass="my-popover-class">
    {{item.text}}
  </span>


<ng-template #tipContent2>
  <app-control-panel #childCPComponent [templateType]="'SMALL'"
                     [currentSelectedWord]="selectedWord" [currentArray]="arrayOfWords"
                     ></app-control-panel>
</ng-template>

</div>


