:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

textarea {
  width: 600px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

p {
  width: 600px;
  margin-bottom: 0;
}

.bold-style {
  font-weight: bold;
}

.italic-style {
  font-style: italic;
}

.underline-style {
  text-decoration: underline
}

::ng-deep {
  .tooltip-inner {
    background: #adb5bd;
    font-size: 125%;
  }
  .tooltip-inner .arrow::after {
    border-top-color: #adb5bd;
  }
}

.text-input {
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}


.selected {
  background-color: #cbf0f7;
  padding: 3px;
  border-radius: 9px;
}
